@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .header {
    background-color: $black5;
    height: 200px;
  }

  .headerBar {
    border-bottom: 1px solid $grey3;
    margin: 40px 0 25px 0;
  }

  h3 {
    font-size: 20px;
  }

  .infoTexts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: $white;

    .mainTitle {
      font-size: 36px;
      margin: 0;
    }

    .subtitle {
      margin: 0;
    }
  }
}
