@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: rgb(216, 216, 216);
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: #ffffff;

      .cartIcon {
        background-color: $primary;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-right: 40px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        width: 28px;
        height: 27px;
        border-radius: 14px;
        background-color: $header-bg;
        display: flex;
        justify-content: left;
        font-size: 14px;
        color: rgb(224, 227, 237);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(42px, -50%);
        padding: 0 4px;

        p {
          text-align: center;
          margin: 3px 4px 0 4px;
        }
      }

      &:hover {
        .cartIcon {
          @extend %hover-animation;
          background-color: lighten($primary, 10%);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .phoneNumber {
    .icon {
      font-size: 24px !important;
    }
    p {
      font-size: 14px !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .logo {
    order: 2;
    margin-top: 20px;
  }
  .cart {
    order: 1;
    margin-top: 22px;
  }
  .phoneNumber {
    order: 3;
    margin-bottom: 7px;
    p {
      text-align: right;
    }
  }
}
