@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: #ffffff;
        font-size: 13px;

        &:hover {
          @extend %hover-animation;
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 576px) {
  .root {

    .topLink {
      display: none;
    }

    .topMenu ul li {
      margin-left: 8px;
      margin-right: 0;
    }

    .topOptions ul li {
      margin-right: 8px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 375px) {
  .root {

    .topMenu ul li {
      line-height: 30px;
    }

    .topOptions ul li {
      line-height: 30px;
      display: block;
    }
  }
}
