@import "../../../styles/settings.scss";

.root {
    margin-top: 15px;
    height: 500px;
  
    .hotDeal {
      padding: 5px;
    }

    .promotedProduct {
        padding-left: 30px;
        padding-right: 0px;
    }

    .dealBar {
      background-color: $header-bg;
      display: flex;
      justify-content: space-between;
  
      .title {
        display: flex;
        text-transform: uppercase;
        color: #ffffff;
        margin-left: 10px;
        margin: auto 10px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  
    .dots {
      display: inline-block;
  
      ul {
        padding: 0 0 0 1rem;
        list-style: none;
  
        li {
          display: inline-block;
          margin-left: 0.5rem;
  
          a {
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background-color: #e1e1e1;
            font-size: 0;
  
            &.active,
            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }