
//DO NOT USE THIS VARIABLES IN ANY OTHER FILE
$dark-grey: #2a2a2a;
$white: #ffffff;
$grey: #b6b6b6;
$black:  rgb(42, 42, 42);
$creamy: #e1e1e1;
$white2: #f4f5f7;
$black2: #292929;
$white3: rgb(216, 216, 216);
$white4: rgb(224, 227, 237);
$grey2:  rgb(169, 169, 169);
$black4: rgba(1, 2, 2, 0.2);
$black5: #434343;
$grey3:  #363636;
$orange: #d58e32;



$base-padding: 24px;

$header-topbar-bg: $black5 ;
$header-bg: $grey3;

$footer-claim-bg: $dark-grey;
$footer-bg: $grey3;

$primary: $orange;

$text-color: $dark-grey;

$form-border-color: $black2;



$form-border-color: #292929;

/*ANIMATION*/

$animation-time-background: 250ms;
$animation-time-text-icon: 250ms;

//Placeholder for hover effects

%hover-animation {
  transition-duration:  $animation-time-background, $animation-time-text-icon;
  transform: translate(2px, 1px);
}