$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$border-bar-color: #cccccc;

$white: #ffffff;

/*ANIMATION*/

$animation-time-background: 250ms;
$animation-time-text-icon: 250ms;

//Placeholder for hover effects

%hover-animation {
  transition-duration:  $animation-time-background, $animation-time-text-icon;
  transform: translate(2px, 1px);
}
