@import "../../../styles/settings.scss";

.root {
  padding: 0;

  .crumbs {
    background-color: $grey;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
  }

  a {
    font-weight: 500;

    &:hover {
      color: $grey3;
    }
  }
}
