@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    cursor: pointer;
    border-right: 1px solid $form-border-color;
    display: flex;
    margin-bottom: 0;
    padding-left: 35px;
    padding-right: 30px;
    align-items: center;
    position: relative;
    list-style: none;
    z-index: 1;

    li, span {
      height: 100%;
    }

    ul {
      position: absolute;
      display: none;
      padding: 0;
      left: 0;
      list-style-type: none;
      width: 100%;

      li {
        text-align: center;
        padding: 5px 10px;
        background-color: $white2;

        &:hover {
          background-color: $primary;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }
      }
    }

    &:hover ul {
      display: block;
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
