@import "../../../styles/settings.scss";

.root {
  display: flex;
  flex-wrap: nowrap;


  .galleryPanel {
    max-width: 50%;
  }

  .containerDiscount{
    
  }

  .discount {
    max-width: 50%;
  }

}